*.pyc
*.pyc-2.4
.project
.pydevproject
.settings
docs/_build
nosetests.xml
.coverage
cover
ltms
dist
MANIFEST
seqsee.main
*~
build
*.egg-info
.vscode/
farg/apps/* #Following lines exclude all projects except for 'official' ones
!farg/apps/seqsee
!farg/apps/pyseqsee
!farg/apps/bongard
