

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Coderack &mdash; PySeqsee 0.1 documentation</title>
    
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '0.1',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="PySeqsee 0.1 documentation" href="../index.html" />
    <link rel="next" title="Sample App" href="../sample_app.html" />
    <link rel="prev" title="The Graphic User Interface" href="../design/ui.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="../sample_app.html" title="Sample App"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="../design/ui.html" title="The Graphic User Interface"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">PySeqsee 0.1 documentation</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="module-components.coderack">
<span id="coderack"></span><h1>Coderack<a class="headerlink" href="#module-components.coderack" title="Permalink to this headline">¶</a></h1>
<dl class="class">
<dt id="components.coderack.Coderack">
<em class="property">class </em><tt class="descclassname">components.coderack.</tt><tt class="descname">Coderack</tt><big>(</big><em>max_capacity</em><big>)</big><a class="reference internal" href="../_modules/components/coderack.html#Coderack"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#components.coderack.Coderack" title="Permalink to this definition">¶</a></dt>
<dd><p>Implements the coderack &#8212; the collection of codelets waiting to run.</p>
<div class="admonition-todo admonition" id="index-0">
<p class="first admonition-title">Todo</p>
<p class="last">Choose the codelet to expunge based on a better criteria than uniformly randomly.</p>
</div>
<dl class="method">
<dt id="components.coderack.Coderack.AddCodelet">
<tt class="descname">AddCodelet</tt><big>(</big><em>codelet</em><big>)</big><a class="reference internal" href="../_modules/components/coderack.html#Coderack.AddCodelet"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#components.coderack.Coderack.AddCodelet" title="Permalink to this definition">¶</a></dt>
<dd><p>Adds codelet to coderack. Removes some existing codelet if needed.</p>
</dd></dl>

<dl class="method">
<dt id="components.coderack.Coderack.GetCodelet">
<tt class="descname">GetCodelet</tt><big>(</big><big>)</big><a class="reference internal" href="../_modules/components/coderack.html#Coderack.GetCodelet"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#components.coderack.Coderack.GetCodelet" title="Permalink to this definition">¶</a></dt>
<dd><p>Randomly selects a codelet (biased by urgency). Requires the coderack to be nonempty.</p>
</dd></dl>

<dl class="method">
<dt id="components.coderack.Coderack.IsEmpty">
<tt class="descname">IsEmpty</tt><big>(</big><big>)</big><a class="reference internal" href="../_modules/components/coderack.html#Coderack.IsEmpty"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#components.coderack.Coderack.IsEmpty" title="Permalink to this definition">¶</a></dt>
<dd><p>True if contains no codelets.</p>
</dd></dl>

</dd></dl>

<dl class="exception">
<dt id="components.coderack.CoderackEmptyException">
<em class="property">exception </em><tt class="descclassname">components.coderack.</tt><tt class="descname">CoderackEmptyException</tt><a class="headerlink" href="#components.coderack.CoderackEmptyException" title="Permalink to this definition">¶</a></dt>
<dd><p>Raised if <a class="reference internal" href="#components.coderack.Coderack.GetCodelet" title="components.coderack.Coderack.GetCodelet"><tt class="xref py py-func docutils literal"><span class="pre">GetCodelet()</span></tt></a> called on an empty coderack.</p>
</dd></dl>

</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="../design/ui.html"
                        title="previous chapter">The Graphic User Interface</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="../sample_app.html"
                        title="next chapter">Sample App</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/components/coderack.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="../sample_app.html" title="Sample App"
             >next</a> |</li>
        <li class="right" >
          <a href="../design/ui.html" title="The Graphic User Interface"
             >previous</a> |</li>
        <li><a href="../index.html">PySeqsee 0.1 documentation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2011, Abhijit Mahabal.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.
    </div>
  </body>
</html>