[App]
geometry = 810x700+0+0

[Canvas]
height          = 450
width           = 780
background      = #FFF

[Conversation]
height = 10
width  = 60
font = -lucida-lucida bright-bold-r-normal--17-120-100-100-p-0-iso8859-15

[Bindings]
#<KeyPress-d> : main::Interaction_crawl(30);
#<KeyPress-f> : main::Interaction_crawl(300);
#<KeyPress-g> : main::Interaction_crawl(700);
#<KeyPress-s> : main::Interaction_step();
#<KeyPress-c> : main::Interaction_continue();
#<KeyPress-q> : exit;
#<KeyPress-p> : $Global::Break_Loop = 1;
#<KeyPress-x>: SGUI::ask_seq();
#<KeyPress-h>: main::Interaction_step_n({n=>5});
#<KeyPress-j>: main::Interaction_step_n({n=>25});
#<KeyPress-k>: main::Interaction_step_n({n=>50});
#<KeyPress-l>: main::Interaction_step_n({n=>100});
#<KeyPress-m> : $Global::debugMAX = 1 - $Global::debugMAX;

